body {
	background-color: #C34457;
}
h1 {
	font-size: 20px;
	font-weight: bold;
	color: #d6d3db;
}
h2 {
	font-size: 14px;
	font-weight: bold;
	color: #d6d3db;
}
h3 {
	font-size: 12px;
	color: #d6d3db;
}
